<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="static/Sortable.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbarcontainer">
            <div class="nav-links">
                <div class="logo">烟台宝井智慧计划中心</div>
                <a href="/">首页</a>
                <a href="/schedule">工单排产</a>
                <a href="/query">工单查询</a>
                <a href="/appointment_order">预约工单</a>
                <a href="/upload">模板下载</a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>