{% extends "base.html" %}
{% block title %}智慧排产中心-欢迎页{% endblock %}
{% block content %}
<div class="welcome-container">
    <h1>生产排产系统</h1>
    <div class="function-buttons">
        <a href="/schedule" class="nav-button">
            <span class="icon">📅</span>
            <span>工单排产</span>
        </a>
        <a href="/query" class="nav-button">
            <span class="icon">🔍</span>
            <span>数据查询</span>
        </a>
        <a href="/appointment_order" class="nav-button">
            <span class="icon">📥</span>
            <span>预约工单</span>
        </a>
        <a href="/upload" class="nav-button">
            <span class="icon">📥</span>
            <span>模板下载</span>
        </a>
    </div>
</div>
{% endblock %}
